**/*mp4
**/*kdenlive

# python
**/*.pyc
/code/build
**/*.egg-info
**/__pycache__

# kicad
**/gerbers/
**/gerbers.zip
**/*-bak
# Temporary files
**/*.000
**/*.bak
**/*.bck
**/*.kicad_pcb-bak
**/*.sch-bak
**/*_autosave-*
**/*.tmp
**/*-save.pro
**/*-save.kicad_pcb
**/*-cache.lib
**/*fp-info-cache
**/*.net

**/*.o
**/*.so
**/*.dll

gui/keystore
gui/bin
gui/.buildozer
old